<div class="events">
  <h3 class="events-title">Code Meetup Events</h3>

  <form action="/" class="events-search" role="search">
    <div class="form-group">
      <input type="text" class="form-control" name=":topic" placeholder="Search" data-toggle="tooltip" data-placement="bottom" title="Seperate words with commas ','">
    </div>
    <button type="submit" class="events-btn btn btn-default">Submit</button>
  </form>
</div>
<hr>
<div>
  <% if @data != nil %> 
    <% @data['results'].each do |d| %>
      <h2><a href="<%= d['event_url'] %>"><%= d['group']['name'] %></a></h2>
      <div class="well">
        <p class="description"><%= sanitize(d['description']) %></p>
      </div>
    <% end %>
  <% else %>
    <h3>Found no Search Results for that topic</h3>
  <% end %>
</div>