<div class="events">
  <h3 class="events-title">Code Meetup Events</h3>

  <form action="/" class="events-search" role="search">
    <div class="form-group">
      <input type="text" class="form-control" name=":topic" placeholder="Search" data-toggle="tooltip" data-placement="bottom" title="Seperate words with commas ','">
    </div>
    <button type="submit" class="events-btn btn btn-default">Submit</button>
  </form>
</div>