<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a href="/"><%= image_tag 'gaIcon.jpg' %></a>

      <% if @current_user && @current_user.admin %>
        

      <% elsif @current_user %>

      <% end %> 
    </div>
      
  </div>
</nav>