<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a href="/"><%= image_tag 'gaIcon.jpg' %></a>

      <% if @current_user && @current_user.admin %>


      <% elsif @current_user %>

      <% end %> 
    </div>

       <form action="/" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" name=":topic" placeholder="Search" data-toggle="tooltip" data-placement="bottom" title="Seperate words with commas ','">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      
  </div>
</nav>